# --- Ignore all compiled C++ executables ---
*.exe

# --- Ignore LaTeX build artifacts ---
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.bbl


# --- System/editor files (optional but useful) ---
.vscode/
